body{font-size: 16px;
color: black;
background-color: #FFFFFF;
}

#header-nav{
	border-radius: 0;
	border: 2px solid #000000;
	height: 80px;
}


.navbar-brand h1{

	color: 	#000000;
	font-weight:550; 
	font-size: 1.5em;
	font-style: cursive;	

}

.navbar-toggle{
	margin-top: 20px;

}

#collapsable-nav{
font-size: 1.2em;
color: black;
}

hr{
	margin: 0;
}

h2.text-center{
	margin-top: 140px;}

div.jumbotron.text-center{
box-sizing: content-box;
width: 95%;
}

}



div.menu{
	font-style:cursive;
    font-size: 4em;
    height: 500px;
}

@media(min-width:1200){

}

@media(min-width: 992) and (max-width: 1199){

}

@media(min-width: 768px) and (max-width: 991px){

}

@media(max-width: 767px){




}