#header-nav{
	width: 100%;
	height: 150px;
	background: #e8486f;
	font-family: : helvetica;
	color: white;
    font-size: 25px;
}

#t1{
	text-align: center;
	font-size: 30px;
	margin-top: 60px;
	font-weight: bold;
}

#main-content{
	margin: 20px;
}
#img1{
  height: 500px;
  background-color: #d8d8d8;

}
#t2{
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  color: #e9486f;

}
#t3{
	font-size: 18px;
}
#t4{
	font-size: 15px;
	text-align: left;
	margin-top: 30px;
	color: #787887;
}
#t5{
	font-size: 15px;
	float: right;
	color: #787887;
    
}
#t6{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
#t7{
	float: right;
}
#t8{
	font-size: 24px;
	font-weight: bold;
}
#P2{
	height: 80px;
	width: 80px;
	float: right;
}
#t10{
	margin-top: 15px;
	color: #787887;
}
#button{
	width: 100%
	font-size: 24px;
	height: 60px;
	background-color: #e8486f;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}
#t11{
	font-weight: bold;
	float: right;
}
#t12{
	font-weight: bold;
	float: right;
	font-size: 24px;
}
#box{
	margin-top: 30px;
	width: 100%;
	height: 150px;
	border: 2px solid grey;
	border-radius: 4px;
}
#box1{
	width: 16%;
	height:25%;
	text-align: center;
	border: 1px dashed grey;
    font-size: 24px;
    color: #e8486f;
    float: right;
    margin-right: 40px;
}
#t13{
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-size: 24px;
	font-weight: bold;
}
#t14{
	text-align: right;
	margin-right: 40px;
	color: #787887;
}
#a{
	margin-left: 20px;
}
#foot{
	background: #2d2d32;
	height: 300px;
	color: white;
}
#copyright{
	margin-top: 30px;
	color: white;
	text-align: left;
	margin-left: 20px;
	size: 50px;
}
#icons{
	margin-top: 30px;
	margin-right: 20px;
	float: right;
}
#r1{
	width: 95%;
	color: grey;
}
#t15{
	margin-top: 30px;
	font-size: 15px;
	color: grey;
	margin-left:20px;
}
#t16{
	margin-left:20px;
}
#t17{
	font-size: 12px;
	margin-top: 70px;
}



@media(min-width: 768px) and (max-width: 991px){
	#header-nav{
		width: 100%;
	}
	div.container1{
    width: 95%
	}
    #img1{
		width: 100%
	}
	#button{
		width: 100%
	}
}


@media(max-width: 767px){
	#header-nav{
		width: 100%;
	}
	div.container1{
    width: 95%
	}
    #img1{
		width: 100%
	}
	#button{
		width: 100%
	}
}

@media(max-width: 479px){
	#header-nav{
		width: 100%;
	}
	div.container1{
    width: 95%
	}
    #img1{
		width: 100%
	}
	#button{
		width: 100%
	}
}