/* Navigation bar and introduction and images of underwater land */
nav.navbar{
	background-color: #00004d;
}
#mainhead{
	border: 2px solid white;
	width: 50px;
	height: 50px;
	padding: 3px 3px 3px 3px;
	font-size:25px;
	color: white;
}
#table1{
	width: 70%;
	text-align: center;
	margin-top: 250px;
	border: 3px solid white;
}

#td1{
	font-size: 40px;
}
#td2{
	font-size: 30px;
}
#td3{
	font-size: 18px;
}
#top{
	background-image: url(coral-reef.jpg);
    color: white;
    text-decoration: bold;
    height: 800px;
    margin-top: 50px;
}
#date{
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 0;
	float: right;
}
.pagination{
	margin-top: 0;
}
/* All the information and facts about the underwater land*/
#top2{
	background-image: url(underwater1.jpg);
    color: white;
    text-decoration: bold;
    height: 500px;
}
#table2{
	width: 75%;
	text-align: center;
	margin-top: 150px;
	border: 3px solid white;
}
/*Information regarding species of underwater land */
#top3{
margin-top: 100px;	
height: 500px;
}
#fishtext{
	padding-top: 10px;
	height: 400px
}
#fishtext1{
	height: 40px;
}
.col-lg-4{
	border: 2px solid black;
	height: 350px;
	padding-right: 2px;
}
.jumbotron{
	height: 800px;
	position: relative;
}

/* Clip of underwater land */
#top4{
margin: 0;
}
div.embed-responsive-item{
	margin: 0;
	height: 100%;
}

button.ibtn{
	position: absolute;
	top: 45%;
	left: 45%;
	width: 8%;
	height: 12%;
	text-align: center;
	font-size: 20px;
	color: gray;
	background-color: black;
	opacity: 0.7;
	border: 0;
	border-radius: 50%;

}
button.ibtn:hover{
   background-color: gray;
   
   color: white;
}

/*Persuade user to sign up */
#top5{
	background-image: url(underwater2.jpg);
	height: 600px;
	border: 2px solid white;

}
#td4{
	font-size: 30px;
	color: white;
	}

#td5{
	font-size: 20px;
	color: white;
     }	

#submitbutton{
	border: 1px solid black;
	border-radius: 10%;
	color: white;
    background-color: black;
    opacity: 0.9;
    position: relative;
    left: 40%;
}	

.btn-default .btn:hover {
    background-color:  white;
	}
/* Little about the site */
#top6{
	background-color: #00004d;
    height: 320px;
    color:  grey;
}
p.main{
	margin-top: 50px;
	text-align: center;
}
#bottomtext{
	margin-top: 40px;
}
#table3{
	width: 55%;
	height: 150px;
	text-align: center;
	margin-top: 150px;
	border: 3px solid white;
}

/* comments from people*/
#top7{
	background-color:#002233;
    height: 300px;
    color: grey;
}

#top7margin{
	margin-top: 25px;
}
/*About us*/
#size{
	margin-top: 50px;
    background-color:#000066;
}
@media(min-width: 1200){
	#size div.container-fluid{
		margin-top: 50px;
		width: 100%;
		height: 620px;
}
iframe{
	width:100%; 
	height:100%;
}
#reefname{
	font-size: 100px;
	height: 100px;
	color: white;
	position: relative;
	left: 100px;
}

/*Contact us*/
#cont{
	height: 300px;
	background: #002233;
}

/*signup page*/

#signupcon{
	width: 60%;
	height: 60%;
	margin-top: 120px;
    background-color: #00004d;
	opacity: 0.7;
}
#signincon{
	width: 60%;
	height: 28%;
	margin-top: 120px;
    background-color: #00004d;
	opacity: 0.7;
}
form{
	width: 60%;
	position: relative;
	left: 5%;
	top: 7%;
}

input{
	margin-left: 20px;
}

input.form-control{
	background-color: black;
	
}
label{
	color: grey;
}
#submitbutton{
	color: white;
	background-color: black;
}